<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jboss.tools.smooks.configuration.editors.SmooksMultiFormEditor"
            contributorClass="org.jboss.tools.smooks.configuration.editors.SmooksMultiPageEditorContributor"
            icon="icons/smooks-sm.gif"
            id="org.jboss.tools.smooks.configuration.editors.MultiPageEditor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="org.jboss.tools.smooks.ui.smooks.contentType">
         </contentTypeBinding>
      </editor>
      
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%category.name"
            id="org.jboss.tools.smooks.configuration">
      </category>
      <wizard
            name="%wizard.name"
            icon="icons/smooks-sm.gif"
            category="org.jboss.tools.smooks.configuration"
            class="org.jboss.tools.smooks.configuration.wizards.SmooksConfigurationFileNewWizard"
            id="org.jboss.tools.smooks.configuration.wizards.NewConfigurationFileWizard">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>
   
    <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="org.jboss.tools.smooks.configuration.editors.SmooksConfigfileContentDescriber"
            file-extensions="xml"
            id="org.jboss.tools.smooks.ui.smooks.contentType"
            name="%content-type.name"
            priority="low">
      </content-type>
      
   </extension>
    <extension
          point="org.eclipse.ui.decorators">
       <decorator
             adaptable="false"
             class="org.jboss.tools.smooks.configuration.validate.ValidateResultLabelDecorator"
             id="org.jboss.tools.smooks.ui.configurationPage.decorator"
             label="%decorator.label"
             lightweight="true"
             state="false">
          <description>
             %decorator.description
          </description>
          <enablement>
             <or>
                <objectClass
                      name="org.eclipse.emf.edit.provider.IWrapperItemProvider">
                </objectClass>
                <objectClass
                      name="org.jboss.tools.smooks.model.common.AbstractAnyType">
                </objectClass>
                <objectClass
                      name="org.eclipse.emf.ecore.util.FeatureMap$Entry">
                </objectClass>
                <objectClass
                      name="org.eclipse.emf.ecore.EObject">
                </objectClass>
             </or>
          </enablement>
       </decorator>
    </extension>
    <extension
          id="problem"
          name="%extension.name"
          point="org.eclipse.core.resources.markers">
       <persistent
             value="true">
       </persistent>
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
       <attribute
             name="uri">
       </attribute>
    </extension>
    <extension
          id="org.jboss.tools.smooks.configuration.validator"
          name="%extension.name.0"
          point="org.eclipse.wst.validation.validatorV2">
       <validator
             build="true"
             class="org.jboss.tools.smooks.configuration.validate.SmooksModelValidator"
             manual="true"
             version="1">
          <include>
             <rules>
                <contentType
                      exactMatch="true"
                      id="org.jboss.tools.smooks.ui.smooks.contentType">
                </contentType>
             </rules>
          </include>
       </validator>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="org.jboss.tools.smooks.configuration.editors.MultiPageEditor">
          <propertySection
                class="org.jboss.tools.smooks.editor.propertySections.SmooksPropertySection"
                filter="org.jboss.tools.smooks.editor.propertySections.SmooksPropertySectionFilter"
                id="org.jboss.tools.smooks.ui.propertySection.properties"
                tab="org.jboss.tools.smooks.ui.propertySection.propertiesTab">
          </propertySection>
          <propertySection
                class="org.jboss.tools.smooks.editor.propertySections.ValidationSection"
                filter="org.jboss.tools.smooks.editor.propertySections.ValidationSectionFilter"
                id="org.jboss.tools.smooks.ui.propertySection.validation"
                tab="org.jboss.tools.smooks.ui.propertySection.validationTab">
          </propertySection>
          <propertySection
                class="org.jboss.tools.smooks.editor.propertySections.RuleBaseSection"
                filter="org.jboss.tools.smooks.editor.propertySections.RuleBaseSectionFilter"
                id="org.jboss.tools.smooks.ui.propertySection.ruleBases"
                tab="org.jboss.tools.smooks.ui.propertySection.ruleBasesTab">
          </propertySection>
          <propertySection
                class="org.jboss.tools.smooks.editor.propertySections.ValueDecodeParamSection"
                filter="org.jboss.tools.smooks.editor.propertySections.ValueDecodeParamSectionFilter"
                id="org.jboss.tools.smooks.ui.propertySection.decodeParam"
                tab="org.jboss.tools.smooks.ui.propertySection.decodeParamTab">
          </propertySection>
          <propertySection
                class="org.jboss.tools.smooks.editor.propertySections.CSVRecordSection"
                filter="org.jboss.tools.smooks.editor.propertySections.CSVRecordSectionFilter"
                id="org.jboss.tools.smooks.ui.propertySection.csvrecord"
                tab="org.jboss.tools.smooks.ui.propertySection.csvrecordTab">
          </propertySection>
          <propertySection
                class="org.jboss.tools.smooks.editor.propertySections.JavaMappingPathSection"
                filter="org.jboss.tools.smooks.editor.propertySections.JavaMappingPathSectionFilter"
                id="org.jboss.tools.smooks.ui.propertySection.mappingPath"
                tab="org.jboss.tools.smooks.ui.propertySection.mappingPathTab">
          </propertySection>
       </propertySections>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
       <propertyTabs
             contributorId="org.jboss.tools.smooks.configuration.editors.MultiPageEditor">
          <propertyTab
                afterTab="org.jboss.tools.smooks.ui.propertySection.decodeParamTab"
                category="properties"
                id="org.jboss.tools.smooks.ui.propertySection.propertiesTab"
                label="%propertyTab.label">
          </propertyTab>
          <propertyTab
                afterTab="org.jboss.tools.smooks.ui.propertySection.ruleBasesTab"
                category="validation"
                id="org.jboss.tools.smooks.ui.propertySection.validationTab"
                label="%propertyTab.label.0">
          </propertyTab>
          <propertyTab
                category="validation"
                id="org.jboss.tools.smooks.ui.propertySection.ruleBasesTab"
                label="%propertyTab.label.1">
          </propertyTab>
          <propertyTab
                afterTab="org.jboss.tools.smooks.ui.propertySection.csvrecordTab"
                category="properties"
                id="org.jboss.tools.smooks.ui.propertySection.decodeParamTab"
                label="%propertyTab.label.2">
          </propertyTab>
          <propertyTab
                category="properties"
                id="org.jboss.tools.smooks.ui.propertySection.csvrecordTab"
                label="%propertyTab.label.3">
          </propertyTab>
          <propertyTab
                afterTab="org.jboss.tools.smooks.ui.propertySection.decodeParamTab"
                category="properties"
                id="org.jboss.tools.smooks.ui.propertySection.mappingPathTab"
                label="%propertyTab.label.4">
          </propertyTab>
       </propertyTabs>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
       <propertyContributor
             contributorId="org.jboss.tools.smooks.configuration.editors.MultiPageEditor">
          <propertyCategory
                category="properties"></propertyCategory>
          <propertyCategory
                category="validation">
          </propertyCategory>
       </propertyContributor>
    </extension>

	<extension
       point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
	        name="%launchConfigurationType.name"
	        delegate="org.jboss.tools.smooks.launch.SmooksLaunchConfigurationDelegate"
	        modes="run"               
	        id="org.jboss.tools.smooks.ui.smooksLauncher">        
	    </launchConfigurationType>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="icons/smooks-sm.gif"
	        configTypeID="org.jboss.tools.smooks.ui.smooksLauncher"
	        id="org.jboss.tools.smooks.ui.launchConfigurationTypeImage.smooksLauncher">
	    </launchConfigurationTypeImage>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="org.jboss.tools.smooks.ui.smooksLauncher"
	        class="org.jboss.tools.smooks.launch.SmooksLaunchTabGroup"
	        id="org.jboss.tools.smooks.ui.launchConfigurationTabGroup.smooksLauncher">
	    </launchConfigurationTabGroup>
	</extension>
 <extension
       point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="org.jboss.tools.smooks.launch.SmooksLaunchShortcut"
          icon="icons/smooks-sm.gif"
          id="org.jboss.tools.smooks.ui.launch.shortcut"
          label="%launch.shortcut.text"
          modes="run">
       <configurationType
             id="org.jboss.tools.smooks.ui.smooksLauncher">
       </configurationType>
       <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <test property="org.eclipse.debug.ui.matchesPattern" value="*.xml"/>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
    </shortcut>
   
 </extension>
 
</plugin>
